* {
  box-sizing: border-box;
}

.wrapper-container {
  display: grid;
  grid-template-rows: [row1-start] 10% [row1-end row2-start] 80% [row2-end row3-start] 10% [row3-end];
  column-gap: 3px;
  row-gap: 3px;
  height: 800px;
}

.header-container {
  display: grid;
  grid-template-columns: [column1] 50% [column2] 16.5% [column3] 16.5% [column4] 16.5% [end];
  column-gap: 3px;
  row-gap: 3px;
}

.main-wrapper-container {
  display: grid;
  grid-template-columns: [column1] 80% [column2] 20% [end];
  column-gap: 3px;
  row-gap: 3px;
}

.content-container {
  display: grid;
  grid-template-rows: [row1-start] 25% [row1-end row2-start] 75% [row2-end];
  column-gap: 3px;
  row-gap: 3px;
}

.side-bar-container {
  display: grid;
  grid-template-rows: [row1-start] 33% [row1-end row2-start] 33% [row2-end row3-start] 33% [row3-end];
  column-gap: 3px;
  row-gap: 3px;
}

.post-title {
  
  background-color: lightblue;
}

.content-container-lower {
  display: grid;
  grid-template-columns: [column1] 40% [column2] 60% [end];
  column-gap: 3px;
  row-gap: 3px;
}

.post-meta {
  background-color: lightgreen;
  
}

.main-content {
  display: grid;
  grid-template-rows: [row1-start] 50% [row1-end row2-start] 50% [row2-end];
  column-gap: 3px;
  row-gap: 3px;
}

.main-content-item {
  background-color: lightgrey;
}

.main-content-image {
  background-color: yellow;
}

.side-bar-item {
  background-color: darkorange;
}

.ads {
  background-color: green;
}

.other-stuff {
  background-color: magenta;
}

.side-title-item {
  background-color: orange;
}

.nav-item {
  background-color: lightpink;
}

.footer {
  background-color: darkslategrey;
}
