.item1 {
  grid-area: side-title;
}
.item2 {
  grid-area: nav1;
}
.item3 {
  grid-area: nav2;
}
.item4 {
  grid-area: nav3;
}
.item5 {
  grid-area: post-title;
}
.item6 {
  grid-area: side-bar;
}
.item7 {
  grid-area: right;
}
.item8 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "side-title side-title side-title nav1 nav2 nav3"
    "post-title post-title post-title post-title side-bar side-bar"
    "menu footer footer footer footer footer";
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
